<div>
  <h1>{{name}}</h1>
  <hr>
  {{description}} (${{price}}), category: {{category}}
  <br>
  <h3>Features:</h3>
  {{#with features}}
    <b>Processor: </b>
    {{#with processor}}
      {{brand}} {{model}}, {{speed}}, cores: {{cores}}, cache: {{cache}}
    {{/with}}
    <br>
    <b>Memory: </b>
    {{#with memory}}
      {{type}}, {{size}}, {{speed}}
    {{/with}}
    <br>
    <b>Storage:</b>
    {{#with storage}}
      {{type}} - {{size}}
    {{/with}}
    <br>
    <b>Display:</b>
    {{#with display}}
      {{size}}, {{resolution}}, {{technology}}, {{color_space}}, {{brightness}}, {{refresh_rate}}
    {{/with}}
    <br>
    <b>Graphics: </b>
    {{#with graphics}}
      {{brand}}, {{model}}, {{memory}}
    {{/with}}
    <br>
    <br>
    <b>Ports:</b>
    <ul>
      {{#each ports}}
        <li>
          {{type}} - ({{count}})
          <ul>
            {{#each features}}
              {{this}}
              <br>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
    <b>Battery: </b>
    {{#with battery}}
      {{type}}, {{capacity}}, {{life}}
    {{/with}}
    <br>
    <b>Weight: </b>{{weight}}
    <br>
    <b>Dimensions: </b>
    {{#with dimensions}}
      {{height}}, {{width}}, {{depth}}
    {{/with}}
    <br>
    <b>Operating system: </b>{{operating_system}}
    <br>
    <br>
    <b>Accessories:</b>
    {{#each accessories}}
      <ul>
        {{name}} - ${{price}}
      </ul>
    {{/each}}
  {{/with}}
</div>