<title>ShopReview</title>
<main class="m-3">

  <div class="row g-0 py-3">
    {{#with navigation}}
      {{#each links}}
        <div class="col-2">
          <div class="nav nav-tabs">
            <div class="nav-item">
              <a href="{{href}}" class="nav-link">{{text}}</a>
            </div>
          </div>
        </div>
      {{/each}}
      <div class="col-2">
        <div class="nav nav-tabs">
          <div class="nav-item">
            <div class="col-2">
              <a href="#" class="nav-link disabled">Disabled</a>
            </div>
          </div>
        </div>
      </div>
    {{/with}}
  </div>

    <div class="row g-0 py-3">
  {{#with formBlock}}
      <div class="col-8">
        <h1>{{header}}</h1>
        <div class="col-12">
          {{#with rating}}
            {{title}}: {{value}}
          {{/with}}
        </div>

        <div class="row g-0">
          <div class="col-12">
            {{#with actionBlock}}
              <div class="row g-0">
              {{#each tabs}}
                <div class="col-3">
                  <div class="nav nav-tabs">
                    <div class="nav-item">
                      <a href="#" 
                        {{#if isActive}} class="nav-link active"
                        {{else}}class="nav-link"
                        {{/if}}>
                        {{text}}
                      </a>
                    </div>
                  </div>
                </div>
              {{/each}}
              </div>
              <hr class="my-5">

              {{#with report}}
                <div class="row g-1 py-1">
                  <section class="col-12">
                    <div class="card ">
                      <div class="card-body">
                        <p class="p-0">{{title}}</p>
                        {{#with button}}
                          <div class="py-0">
                            <a href="{{link}}" class="btn btn-secondary">{{text}}</a>
                          </div>
                        {{/with}}
                      </div>
                    </div>
                  </section>
                </div>
              {{/with}}
              <hr class="my-5">

            {{/with}}

            
            <div class="col-12">
              {{#with feedbackBlock}}
                <h2>{{title}}</h2>
                <div class="row g-1 py-1">
                  {{#each buttons}}
                    <div class="col-4">
                      <a href="{{link}}" 
                        {{#if isWarning}} class="btn btn-warning"
                        {{/if}}
                        {{#if isSuccess}} class="btn btn-success"
                        {{/if}}
                        {{#if isDanger}} class="btn btn-danger"
                        {{/if}}>
                        {{text}}
                      </a>
                    </div>
                  {{/each}}
                </div>
              {{/with}}
            </div>

          </div>
        </div>

      </div>

      <div class="col-4 p-3">
      {{#with goodsInfo}}
        {{!-- <div class="row g-1 py-1"> --}}
          <section class="col-12">
            {{!-- <div class="col-12 b-3"> --}}

              <div class="card my-2">
                <div class="card col-7 m-2">
                  <img class="card-img" src="{{photo}}"  alt="{{name}}">
                </div>
                <div class="card-body">
                
                  <p class="mb-0">{{name}}</p>
                  
                </div>
              </div>

              <div class="card my-2">
                <div class="card-body">
                  <p class="mb-0">{{price}}</p>
                  {{#if inMarket}}Є в наявності{{else}}Немає{{/if}}
                  {{#each buttons}}
                    <div class="py-2">
                      <a href="{{link}}" 
                        {{#if isPrimary}}class="btn btn-primary"
                        {{/if}}
                        {{#if isSecondary}}class="btn btn-secondary"
                        {{/if}}>
                        {{text}}
                      </a>
                    </div>
                  {{/each}}
                </div>
                
              </div>
                <div class="card my-2">
                  <div class="card-body">
                    
                    {{#with seller}}
                      <p class="mb-0" >{{title}}: {{value}}</p>
                    {{/with}}
                  </div>
                </div>
            {{!-- </div> --}}
          </section>
        {{!-- </div> --}}
      {{/with}}
      </div>
    {{/with}}
  </div>
  <hr class="my-5">

  <div>
    <div class="card p-2">
      {{#each reviewList}}
        <div class="card-body">
          <div class="card ">
            <div class="card-body">
              {{#with title}}
                <h5>{{userName}}</h5>
                <p>{{caption}}</p>
                <date>{{date}}</date>
              {{/with}}
              <hr class="p-0">

              {{#with reviewBody}}
                {{#with seller}}
                  <p>{{title}}: {{value}}</p>
                {{/with}}
                {{#with rating}}
                  <p>{{title}}: {{value}}</p>
                {{/with}}
                {{#each text}}
                  <p>{{this}}</p>
                {{/each}}
                {{#with advantages}}
                  <h6>{{title}}:</h6>
                  <p> {{text}}</p>
                {{/with}}
                {{#with disadvantages}}
                  <h6>{{title}}:</h6>
                  <p> {{text}}</p>
                {{/with}}

                <div class="row g-1 mb-3">
                  {{#each images}}
                    <div class="card col-1 m-2">
                      <img class="card-img" src="{{this}}"  alt="">
                    </div>
                  {{/each}}
                </div>

                <div>
                  {{#each coments}}
                    <div class="card m-3 ">
                      <div class="card-body">
                        <h6>{{userName}}</h6>
                        <date>{{date}}</date>
                        <p class="mb-0">{{text}}</p>
                      </div>
                    </div>
                  {{/each}}
                </div>    

              {{/with}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="m-3 g-0 text-bg-success text-center">
      {{#with service}}
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#each buttons}}
          <a href="{{link}}" class="btn btn-primary my-2">
            {{text}}
          </a>
        {{/each}}
      {{/with}}
    </div>
    <hr class="my-3">

    <section class="col-12">
      <div class="row g-1">
        {{#each footer}}
          <table class="table ">
            <tbody>
              <tr>
                {{#each []}}
                <td class="col-2 py-0">
                  <a href="{{link}}" class="btn btn-link">{{text}}</a>
                </td>
                {{/each}}
              </tr>
            </tbody>
          </table> 
        {{/each}}
      </div>
    </section>


</main>