<title>Task 3.1</title>
<main class="row g-3 m-3">
  <div>
  
  <section class="col-12">
    <div class="row g-1">
      {{#with navigation}}
        {{#each links}}
          <div class="col-2">
            <div class="card">
              <div class="card-body">
                <a href="{{href}}" class="btn btn-link btn-sm">{{text}}</a>
              </div>
            </div>
          </div>
        {{/each}}
          {{#with button}}
          <div class="col-2">
            <div class="card">
              <div class="card-body">
                <a href="{{href}}" class="btn btn-primary btn-sm">{{text}}</a>
              </div>
            </div>
          </div>
          {{/with}}
      {{/with}}
    </div>
  </section>

  <section class="col-12">
    {{#with header}}
      <div class="card">
        <div class="cadd-body">
          <h1 class="card-title text-bg-primary">{{title}}</h1>
          <p class="text-bg-secondary">{{description}}</p>
          <a href="{{button.link}}" class="btn btn-primary">{{button.text}}</a>
        </div>
      </div>
    {{/with}}
  </section>

  <section class="col-12">
    <div class="row g-2">
      {{#with city}}
        <h2>{{title}}</h2> 
        {{#each cards}} 
          <div class="col-5">
            <div class="card">
              <img class="card-img-top" src="{{picture.src}}" alt="{{alt}}">
              <div class="card-body">
                <h6 class="card-title">{{title}}</h6>
                <p class="text-bg-secondary">{{description}}</p>
                <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
              </div>
            </div>
          </div>
        {{/each}}
      {{/with}}
    </div>
  </section>

  <section class="col-7">
    {{#with winner}}
      <h2>{{title}}</h2> 
      {{#with table}}
        <table class="table table-bordered">
          <thead>
            <tr>
            {{#each head}}
              <th>{{this}}</th>
            {{/each}}
            </tr>
          </thead>
          <tbody>
          {{#each user}}
            <tr>
              <th>{{place}}</th>
              <td>{{name}}</td>
              <td>{{surname}}</td>
              <td>{{nickname}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table> 
      {{/with}}
    {{/with}}
  </section>

  <section class="col-12">
    {{#with gallery}}
      <h2>{{title}}</h2>
      <div class="row g-2">
        {{#each cards}}
          <div class="col-4">
            <div class="card">
              <div class="card-header">
                <div>{{name}}</div>
              </div>
              <div class="card-body">
                {{#each items}}
                  <ul class="list-group">
                    <li class="list-group-item ">
                      <div>{{this}}</div>
                    </li>
                  </ul>
                {{/each}}
              </div>
            </div>
          </div> 
        {{/each}}
      </div>
    {{/with}}
  </section>

  <section class="col-12">
    {{#with relaxion}}
      <p class="display-3">{{title}}</p>
      <div class="row g-2">
        {{#each cards}}
          <div class="col-5">
            <div class="card text-bg-secondary">
              <div class="card-header text-bg-info">
                <div>{{header}}</div>
              </div>
              <div class="card-body">
                <h6 class="card-title text-warning">{{title}}</h6>
                <p>{{description}}</p>
              </div>
            </div>
          </div> 
        {{/each}}
      </div>
    {{/with}}
  </section>

  <section class="col-12">
    {{#with rest}}
      <div class="row g-2">
        {{#each cards}}
          <div class="col-6">
            <div class="card text-center">
              <div class="card-header">
                <div>{{header}}</div>
              </div>
              <div class="card-body">
                <h6 class="card-title text-warning">{{title}}</h6>
                <p>{{description}}</p>
                <button class="btn text-bg-primary">{{button}}</button>
              </div>
              <div class="card-footer">{{footer}}</div>
            </div>
          </div> 
        {{/each}}
      </div>
    {{/with}}
  </section>
  <section class="col-12">
    {{#with proposition}}
      <p class="display-2">{{title}}</p>
      <div class="row g-2">
        {{#each card}}
          <div class="col-5">
            <div class="card text-bg-warning">
              <div class="card-header">
                <div>{{header}}</div>
              </div>
              <div class="card-body">
                <h6 class="card-title text-second">{{title}}</h6>
                <p>{{description}}</p>
              </div>
            </div>
          </div> 
        {{/each}}
      </div>
    {{/with}}
  </section>
   
  <section class="col-9">
    {{#with footer}}
      <h5>{{title}}</h5> 
      <div class="row g-3"> 
        <div class="col-3">
          <table class="table">
            <tbody>
              {{#each navigation}}
                <tr>
                  <td><a class="btn btn-link" href="{{href}}">{{text}}</a></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div> 
        <div class="col-4">
          <table class="table col-4">
            <tbody>
              {{#each socialMedia}}
                <tr>
                  <td><a class="btn btn-outline-dark" href="{{link}}">{{name}}</a></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div> 
        <div class="col-5">
          <table class="table">
            <tbody>
              {{#each partners}}
                <tr>
                  <td><a class="btn btn-outline-info" href="{{link}}">{{name}}</a></td>
                </tr>
              {{/each}}
            </tbody>
          </table> 
        </div>
      </div>
    {{/with}}
  </section>
  
  </div>  
</main>